* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100vh;
}
.container img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}
